In [47]:
apikey = "KNqUDtV7Kcktiuheo3EoNhB0zDlCevFAdqZrKgdj"
#%pip install wbdata
import fooddatacentral as fdc
import pandas as pd
import numpy as np
import re
from  scipy.optimize import linprog as lp
import wbdata
import sys
import io
import warnings
warnings.simplefilter("ignore")

In [48]:
!pip install -r requirements.txt

Requirement already satisfied: Pint>=0.8.1 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (0.24.4)
Requirement already satisfied: numpy>=1.15.0 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 6)) (2.2.4)
Requirement already satisfied: pandas>=0.23.3 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 11)) (2.2.3)
Requirement already satisfied: requests>=2.20.0 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 15)) (2.32.3)
Requirement already satisfied: scipy>=1.1.0 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 18)) (1.15.2)
Requirement already satisfied: gspread in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 20)) (5.12.4)
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 22)) (3.3.0)
Requirement already satisfied: bottleneck>=1.3.6 in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 24)) (1.4.2)
Requirement already satisfied: eep153_tools in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 26)) (0.12.4)
Requirement already satisfied: fooddatacentral in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 28)) (1.0.10)
Requirement already satisfied: python-gnupg in /srv/conda/lib/python3.11/site-packages (from -r requirements.txt (line 30)) (0.5.4)
Requirement already satisfied: platformdirs>=2.1.0 in /srv/conda/lib/python3.11/site-packages (from Pint>=0.8.1->-r requirements.txt (line 2)) (4.3.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /srv/conda/lib/python3.11/site-packages (from Pint>=0.8.1->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: flexcache>=0.3 in /srv/conda/lib/python3.11/site-packages (from Pint>=0.8.1->-r requirements.txt (line 2)) (0.3)
Requirement already satisfied: flexparser>=0.4 in /srv/conda/lib/python3.11/site-packages (from Pint>=0.8.1->-r requirements.txt (line 2)) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.23.3->-r requirements.txt (line 11)) (2025.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.20.0->-r requirements.txt (line 15)) (2025.1.31)
Requirement already satisfied: google-auth>=1.12.0 in /srv/conda/lib/python3.11/site-packages (from gspread->-r requirements.txt (line 20)) (2.38.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /srv/conda/lib/python3.11/site-packages (from gspread->-r requirements.txt (line 20)) (1.2.1)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas->-r requirements.txt (line 22)) (5.1.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib>=0.4.1->gspread->-r requirements.txt (line 20)) (2.0.0)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.23.3->-r requirements.txt (line 11)) (1.17.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /srv/conda/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread->-r requirements.txt (line 20)) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread->-r requirements.txt (line 20)) (3.2.2)

Household Characteristics

In [49]:
ugd_z = pd.read_csv('Data Files/Uganda - Household Characteristics.csv')
ugd_z = ugd_z[ugd_z['t'] == '2015-16']
ugd_z = ugd_z.set_index(['i','t','m'])
ugd_z.columns.name = 'k'
ugd_z.fillna(0, inplace=True)
ugd_z.head()

,,k,Females 00-03,Females 04-08,Females 09-13,Females 14-18,Females 19-30,Females 31-50,Females 51-99,Males 00-03,Males 04-08,Males 09-13,Males 14-18,Males 19-30,Males 31-50,Males 51-99,log HSize
i,t,m,,,,,,,,,,,,,,,
H0010101,2015-16,Central,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.098612
H0010201,2015-16,Central,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.098612
H0010401,2015-16,Central,1.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.945910
H0011001,2015-16,Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.693147
H0020801,2015-16,Central,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.386294

In [50]:
#Import prices data
ugd_p = pd.read_csv('Data Files/Uganda - Food Prices (2015-16).csv')
#Create pivot table
ugd_q = pd.pivot_table(ugd_p, values="price", index=["j","u"], columns="m" , aggfunc="median", fill_value=0)
ugd_q.head()

m                     Central      Eastern     Northern      Western
j             u
Apples        Kg  2444.678155  2765.445752  2817.179700  2280.574043
Avocado       Kg   772.047798   527.867923   577.427162   476.555939
Beans (dry)   Kg  2430.222603  2497.324159  5151.075269  2498.998822
Beans (fresh) Kg  3081.552288  2829.373691  4229.389140  1632.899600
Beef          Kg  8741.190476  7923.907563  8106.250000  8413.978491

In [51]:
ugd_x = pd.read_csv('Data Files/Uganda - Food Expenditures (2015-16).csv')
ugd_x = ugd_x.set_index(['i','t','m','j']).squeeze()
ugd_x.head()

i         t        m        j
H0010101  2015-16  Central  Avocado             500.0
                            Beans (dry)        3000.0
                            Beef               9000.0
                            Bread              2000.0
                            Cabbage (green)    3000.0
Name: Expenditure, dtype: float64

In [52]:
ugd_p1 = ugd_p.groupby(['t','m','j','u']).median()
# Just keep metric units
ugd_p1 = ugd_p1.xs('Kg',level="u").squeeze().unstack('j')
# Drop prices for goods we don't have expenditures for
ugd_p1 = ugd_p1[ugd_x.index.levels[-1]].T
ugd_p1.head()

t                  2015-16
m                  Central      Eastern     Northern      Western
j
Apples         2444.678155  2765.445752  2817.179700  2280.574043
Avocado         772.047798   527.867923   577.427162   476.555939
Beans (dry)    2430.222603  2497.324159  5151.075269  2498.998822
Beans (fresh)  3081.552288  2829.373691  4229.389140  1632.899600
Beef           8741.190476  7923.907563  8106.250000  8413.978491

In [53]:
ugd_x = ugd_x.T.groupby(['i','t','m','j']).sum()
ugd_x = ugd_x.replace(0,np.nan) # Replace zeros with missing

# Take logs of expenditures; call this y
ugd_y = np.log(ugd_x)

In [54]:
ugd_y.head()

i         t        m        j
H0010101  2015-16  Central  Avocado            6.214608
                            Beans (dry)        8.006368
                            Beef               9.104980
                            Bread              7.600902
                            Cabbage (green)    8.006368
Name: Expenditure, dtype: float64

### **Estimation**

In [56]:
from cfe import Regression

result = Regression(y=ugd_y,d=ugd_z)

result.predicted_expenditures()

i         t        m        j
H0010101  2015-16  Central  Avocado                    2120.091976
                            Beans (dry)                4134.714022
                            Beef                      12529.833925
                            Bread                      4827.659106
                            Cabbage (green)            1310.316756
                                                          ...
H4301001  2015-16  Western  Sugar                      1934.313725
                            Sweet Bananas              1867.280816
                            Sweet Potatoes (fresh)     4926.310924
                            Tea                         276.122931
                            Tomatoes                   1399.526856
Length: 116240, dtype: float64